body {
    padding: 0;
    margin: auto;
    max-width: 1440px;
    box-sizing: border-box;
}



header {
    display: flex;
    justify-content: space-between;
   
}

.header_mob, .section4_mob {
    display: none;
}


@media screen and (max-width: 1200px) {
    
    header {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .section4, .section2 {
        display: flex;
        flex-direction: column;
    }
}

.logo {
    width: 238px;
    margin: 48px 0px 0px 100px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-right: 101px;
}

.section1 {
    background-image: url(./images/Rectangle.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text1 {
    max-width: 1240px;
    font-size: 56px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneakers1 {
    width: 533px;
}

.section2 {
    display: flex;
    margin-top: 158px;
    align-items: flex-start;
} 

.sneakers2 img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 164px;
    width: 288px;
}

.text2 {
    width: 815px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
} 

.section3 {
    background-image: url(./images/rect2.png);
    background-size: cover;
    background-repeat: repeat-y;
    height: 862px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.text3 {
    width: 1030px;
    color: white;
    font-size: 56px;
    display: flex;
}

div.section4 {
    position: absolute;
    display: inline;
}

div.sneakers3  {
    position: relative;
    display: inline;
    top: 122px;
    left: 99px;
    float: left;
} 

.text_section {
    display: inline;
    position: relative;
    top: 122px;
    left: 136px;
}


.text_1 {
    
    font-size: 40px;
}

.text_2 {
    font-size: 24px;
    margin-top: 64px;
}


@media screen and (max-width: 375px) {
    header {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        gap: 22px;
        width: vw;
    }
    .header_mob{
        display: flex;
        font-size: 16px;
    }
    ul {
        display: none;
    }
    .logo {
        margin: 0px;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: flex-start;
    }

    .text3{
        height: 377px;
    }

    .text2 {
        margin-bottom: 50px;
    }
    div.section4 {
        display: none;
    }
    div.section4_mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .section3_mob, .text_1_mob, .text_2_mob, .sneakers3_mob {
        margin-top: 20px;

    }

    .text_1_mob {
        font-size: 24px;
    }
     .text_2_mob {
        font-size: 20px;
    }
}